@charset "utf-8";

body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  background: #efefef;
}
h1 {
  margin: 20px 0;
  font-size: 36px;
  font-family: Arial;

  animation-name: slidein;
  animation-duration: .7s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;

}
h2 {
  font-size: 14px;
  color: #cccccc;
  text-align: center;
  margin: 0;
}
p {
  padding-top: 0;
  padding-bottom: 10px;

  animation-name: slidein;
  animation-duration: .7s;
  animation-timing-function: ease-out;
  animation-delay: 1.7s;
  animation-fill-mode: backwards;
}
ul {
  list-style: none;
  width: 540px;
  margin: 0px auto;
  padding: 0;
  margin-left: 0;
  text-align: justify;

  animation-name: slidein;
  animation-duration: .7s;
  animation-timing-function: ease-out;
  animation-delay: 1.9s;
  animation-fill-mode: backwards;

}
/* 疑似要素を使ってアイコンを均等に配置 */
ul:after {
  content:"";
  display: inline-block;
  width: 100%;
  height: 0;
}
/* ---- */
li {
  display: inline-block;
  margin-left: 0;
}
.menu-icon {
  width: 50px;
  height: 50px;
  border: thin solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.menu-icon:hover {
  transition: 0.3s;
  transform: translateY(3px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#profile {
  background: rgba(45,45,45, 0);
  border-radius: 10px;
  width: 540px;
  height: 400px;
  padding: 0 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  text-align: center;
}
#profile_fake {
  background: #fff;
  border-radius: 10px;
  width: 540px;
  height: 400px;
  padding: 0 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  text-align: center;

  animation: FirstAnime;
  animation-duration: 1.6s;
  animation-timing-function: ease-out;
}

@keyframes FirstAnime {
  0% {
    height: 1px;
    width: 0;
    border: none;
  }
  50% {
    height: 1px;
    width: 540px;
    border: none;
  }
  100% {
    height: 400px;
    width: 540px;
    /*border: thin solid #DCDCDC;*/
  }
 }

#profile_icon {
  border: medium solid #fff;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  animation-name: slidein;
  animation-duration: .7s;
  animation-timing-function: ease-out;
  animation-delay: 1.6s;
  animation-fill-mode: backwards;
}
@keyframes slidein {
  from {
  transform: translate(0, -20px);
  opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.icon {
  border-radius: 50%;
  border: medium solid #fff;
}
